header {
    z-index: 20;
}

.menu-text>li>a {
    color: #221F20 !important;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.custom-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-logo>a>img {
    width: 140px;
}

.custom-search-product-input {
    padding-left: 40px !important;
}

.custom-search-product-input::placeholder {
    font-size: 15px;
}

.custom-search-logo {
    top: 50%;
    left: 23px;
    transform: translate(-50%, -50%);
}

.custom-search-logo:hover {
    cursor: pointer;
}

.custom-show-number-of-products-in-cart {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    right: -20px;
    top: -10px;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.sub-menu {
    position: absolute;
    top: 55px;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #e7e8e9;
    box-sizing: border-box;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .menu-text>li>a {
        font-size: 11px;
    }
}

@media (max-width: 1860px) {
    .menu-text>li>a {
        font-size: 12px;
    }
}